log/*.log
tmp/**/*
tmp
.DS_Store
doc/api
doc/app
coverage
features_rcov
features.*
db/*.sqlite3
db/schema.rb
config/database.yml
config/deploy.rb
.project
public/assets
public/test
public/cache
.sass-cache
nbproject/
*.orig
public/data.csv
data.csv
data-test.csv
public/attachments
rerun.txt
.idea