#koboard .ko_ht, #koboard .ko_at{
  /*visibility:hidden;*/
}

#team-model{
  display: none;
}

#groups{
  width:400px;
}

#groups .group h2{
margin:0;
padding:0;
text-align:center;
}

#groups .group{
border:1px solid;
margin:2px;
width:180px;
float:left;
margin:2px 8px;
height:130px;
}

#groups .group .teams{
  margin:1px;
}

#groups .teamBox{
border:1px solid #CCCCCC;
list-style-image:none;
list-style-position:outside;
list-style-type:decimal;
margin:2px;
font-size:11px;
width: 120px;
}

#groupsBox{
  float:left;
  margin-left:40px;
}

#koboardBox{
  float:left;
  margin-left:40px;
}


#koboard .fteam.mouseover{
  border: 1px solid #cccccc;
}

#clear{
	clear:both;
}

#save-guess{
	float:left;
}

#form{
	display:none;
}