<%= render :partial => 'koboard' %>

<div id='clear'></div>

<div id='save-guess'>
<%= image_tag('save.png', :class => 'save-guess')%>
  <div id='form'>
    <%= render :partial => 'form' %>
  </div>
</div>
